/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Utils */
.container {
    width: 70%;
    margin: 70px auto;
}

/* Header */
header {
    padding: 10px 20px;
}

#title {
    font-family: "Nerko One", cursive;
    font-size: 3rem;
    color: hsl(33, 100%, 54%);
}

/* Recipe */
#recipe {
    /* DEBUG */
    /* background-color: lightblue; */
}

.categories {
    display: inline-block;
    margin-bottom: 15px;
}

.categories a {
    font-size: 0.9rem;
    color: hsl(256, 13%, 65%);
}

#recipe-title {
    color: hsl(266, 30%, 32%);
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.recipe-row {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px hsl(0, 0%, 82.7%);
}

.col-left {
    width: 70%;
}

.recipe-video {
    width: 100%;
}

.col-right {
    width: 30%;
    padding: 40px;
    /* DEBUG */
    /* background-color: lightgreen; */
}

.col-right h4 {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.col-right span {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 20px;
}

/* Socials */
#socials {
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    background-color: lightgrey;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 30px;
    /* DEBUG */
    background-color: aquamarine;
}

/* Footer */
footer {
    padding: 20px 20px;
    /* DEBUG */
    background-color: hsl(259, 24%, 53%);
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.links-list {
    display: flex;
    align-items: center;
}