/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Montserrat", sans-serif;
}

/* Header */
header {
    padding: 10px 20px;
}

#title {
    font-family: "Nerko One", cursive;
    font-size: 3rem;
    color: hsl(33, 100%, 54%);
}

/* Recipe */
.container {
    width: 70%;
    margin: 70px auto;
}

#recipe {
    /* DEBUG */
    background-color: lightblue;
}

.row {
    display: flex;
}

.col-left {
    width: 70%;
    /* DEBUG */
    height: 500px;
    background-color: lightcoral;
}

.col-right {
    width: 30%;
    /* DEBUG */
    height: 500px;
    background-color: lightgreen;
}

/* Socials */
#socials {
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    background-color: lightgrey;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 30px;
    /* DEBUG */
    background-color: aquamarine;
}

