@media screen and (max-width: 640px) {

    /* Header */
    #title {
        text-align: center;
    }

    /* Main */
    .container {
        width: 90%;
        margin: 70px auto;
    }

    /* Recipe */
    #recipe-title {
        font-size: 1.5rem;
    }

    .dessert-type {
        display: none;
    }

    .details {
        display: block;
    }


}