@media screen and (max-width: 640px) {

    /* Header */
    #title {
        text-align: center;
    }

    /* Main */
    .container {
        width: 90%;
        margin: 30px auto;
    }

    /* Recipe */
    #recipe-title {
        font-size: 1.5rem;
    }

    .dessert-type {
        display: none;
    }

    .details {
        display: block;
    }

    /* Socials */
    .btn {
        padding: 10px 15px;
        border-radius: 40%;
        box-shadow: 0px 5px 10px hsl(0, 0%, 82.7%);
    }

    .btn span {
        display: none;
    }

    /* ADS */
    .banner-ads {
        display: none;
    }

    /* Descrizione */
    .object-img {
        float: none;
        position: unset;
        display: block;
        width: 60%;
        margin: 0 auto;
        box-shadow: 5px 5px 10px hsl(0, 0%, 82.7%);
    }

    /* Footer */
    .links-list {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        margin-top: 15px;
        flex-wrap: wrap;
        line-height: 40px;
    }
}