@media screen and (max-width: 1020px) {

    /* Main */
    .container {
        width: 90%;
        margin: 70px auto;
    }

    /* Recipe */
    #recipe-title {
        font-size: 2rem;
    }

    .recipe-row {
        display: block;
    }

    .col-left {
        width: 100%;
    }

    .col-right {
        width: 100%;
        padding: 40px;
    }

    .details {
        display: flex;
    }

    /* Socials */
    .btn {
        padding: 10px 70px;
    }

    .btn span {
        display: none;
    }

    /* Footer */
    .footer-row {
        display: block;
        text-align: center;
    }

    .links-list {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        margin-top: 15px;
    }
}